<sb-layout-dashboard>
    <sb-dashboard-head title="Metrics" [hideBreadcrumbs]="true"></sb-dashboard-head>
    <sb-card>
        <div class="card-body">
            <form (ngSubmit)="onSubmit()" #f="ngForm">
                <div class="card">
                    <div class="card-body">
                <h4 class="text-muted">Personal data</h4>
                <hr class="mb-4 mt-0">
                <div class="form-row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="mb-1">
                                First Name
                            </label>
                            <input
                            class="form-control py-4" 
                            type="text"
                            placeholder="Enter first name" 
                            name="firstName"
                            ngModel/>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="mb-1">
                                Last Name
                            </label>
                            <input
                            class="form-control py-4" 
                            type="text"
                            placeholder="Enter last name" 
                            name="lastName"
                            ngModel/>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="mb-1">
                                Age
                            </label>
                            <input
                            class="form-control py-4" 
                            type="number"
                            placeholder="Enter age" 
                            name="age"
                            ngModel/>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="mb-1">
                                Gender
                            </label>
                            <div style="margin: 0.7rem !important" class="d-flex justify-content-around">
                                <div class="form-check form-check-inline">
                                    <input 
                                    type="radio" 
                                    class="form-check-input" 
                                    name="genderGroup"
                                    ngModel
                                    value="male">
                                    <label class="form-check-label">Male</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input 
                                    type="radio" 
                                    class="form-check-input" 
                                    name="genderGroup"
                                    ngModel
                                    value="female">
                                    <label class="form-check-label">Female</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            <div class="card mt-4">
                <div class="card-body">
                <h4 class="text-muted">Location</h4>
                <hr class="mb-4 mt-0">
                <div class="form-row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="mb-1">
                                Longitude
                            </label>
                            <input
                            class="form-control py-4" 
                            placeholder="Enter longitude" 
                            name="longitude"
                            ngModel/>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="mb-1">
                                Latitude
                            </label>
                            <input 
                            class="form-control py-4" 
                            placeholder="Enter latitude" 
                            name="latitude"
                            ngModel/>
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="mb-1">
                                City
                            </label>
                            <input
                            class="form-control py-4" 
                            placeholder="Enter city" 
                            name="city"
                            ngModel/>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="mb-1">
                                Setting
                            </label>
                            <div style="margin: 0.7rem !important" class="d-flex justify-content-around">
                                <div class="form-check form-check-inline">
                                    <input 
                                    type="radio" 
                                    class="form-check-input" 
                                    name="settingsGroup"
                                    ngModel
                                    value="indoors">
                                    <label class="form-check-label">Indoors</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input 
                                    type="radio" 
                                    class="form-check-input" 
                                    name="settingsGroup"
                                    ngModel
                                    value="outdoors">
                                    <label class="form-check-label">Outdoors</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
                </div>
                <div class="card mt-4">
                    <div class="card-body">
                <h4 class="text-muted">Additional info</h4>
                <hr class="mb-4 mt-0">
                <div class="form-row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="mb-1">
                                Education
                            </label>
                            <input
                            class="form-control py-4" 
                            type="text"
                            placeholder="Enter education stage" 
                            name="education"
                            ngModel/>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="mb-1">
                                Household income (USD)
                            </label>
                            <input
                            class="form-control py-4" 
                            type="number"
                            placeholder="Enter household income" 
                            name="householdIncome"
                            ngModel/>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="mb-1">
                                Residents
                            </label>
                            <input
                            class="form-control py-4" 
                            type="number"
                            placeholder="Enter number of residents" 
                            name="residents"
                            ngModel/>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="mb-1">
                                Energy (kWh)
                            </label>
                            <input
                            class="form-control py-4" 
                            type="number"
                            placeholder="Enter average monthly energy usage" 
                            name="energy"
                            ngModel/>
                        </div>
                    </div>
                </div>
                </div>
                </div>

                <div class="text-danger" style="font-size: small; text-align: center;">{{error}}</div>
                <div class="form-group mt-4 mb-0">
                    <button class="btn btn-primary btn-lg btn-block">Save</button>
                </div>
            </form>
        </div>
    </sb-card>
</sb-layout-dashboard>