<sb-layout-dashboard>
    <div *ngIf="!!dataset">    
        <sb-dashboard-head title="Bundle details" [hideBreadcrumbs]="true" *ngIf="!!dataset.date"></sb-dashboard-head>
        <sb-dashboard-head title="Stream details" [hideBreadcrumbs]="true" *ngIf="!dataset.date"></sb-dashboard-head>
    </div>
    <sb-card>
        <div class="card-body">
            <div *ngIf="!!dataset">
                <div class="card half-inline-flex text-center">
                    <div class="card-body">
                        <p class="card-title h5">Dataset id</p>
                        <p class="card-text">{{dataset._id}}</p>
                    </div>
                </div>
                <div class="card half-inline-flex text-center" *ngIf="!!dataset.date">
                    <div class="card-body">
                        <p class="card-title h5">Date</p>
                        <p class="card-text">{{dataset.date}}</p>
                    </div>
                </div>
                <div class="card half-inline-flex text-center" *ngIf="!dataset.date">
                    <div class="card-body">
                        <p class="card-title h5">Last updated</p>
                        <p class="card-text">{{dataset.lastUpdated}}</p>
                    </div>
                </div>
                <div class="card half-inline-flex text-center">
                    <div class="card-body">
                        <p class="card-title h5">Type</p>
                        <p class="card-text">{{dataset.type}}</p>
                    </div>
                </div>
                <div class="card half-inline-flex text-center">
                    <div class="card-body">
                        <p class="card-title h5">Location</p>
                        <p class="card-text">{{dataset.location}}</p>
                    </div>
                </div>
                <div class="card half-inline-flex text-center">
                    <div class="card-body">
                        <p class="card-title h5">Quantity</p>
                        <p class="card-text">{{dataset.quantity}}</p>
                    </div>
                </div>
                <div class="card half-inline-flex text-center">
                    <div class="card-body">
                        <p class="card-title h5">Description</p>
                        <p class="card-text">{{dataset.description}}</p>
                    </div>
                </div>
                <div class="mt-3" *ngIf="!!dataset.date">
                    <a
                    class="btn btn-success btn-lg btn-block"
                    [href]="downloadJsonHref"
                    download="{{filename}}"
                    (click)="onClick()">Get!</a>
                </div>
                <div class="mt-1 small-btn-metadata" *ngIf="!!dataset.date">
                    <a
                    class="btn btn-secondary btn-block"
                    [href]="downloadJsonHrefMetadata"
                    download="{{filename}}"
                    (click)="onClick()">Get with metadata!</a>
                </div>
                <div class="mt-3" *ngIf="!dataset.date">
                    <button 
                    *ngIf="!subscribed"
                    type="button" 
                    class="btn btn-success btn-lg btn-block"
                    (click)="onClick()">Subscribe!</button>
                    <button 
                    *ngIf="subscribed"
                    type="button" 
                    class="btn btn-secondary btn-lg btn-block">
                    Subscribed</button>
                </div>
            </div>
        </div>
    </sb-card>
</sb-layout-dashboard>