<sb-layout-dashboard>
    <sb-dashboard-head title="Dashboard" [hideBreadcrumbs]="true"></sb-dashboard-head>
    <h2 class="mt-4 mb-2 text-muted">My devices</h2>
    <sb-dashboard-cards [removeState]="false" [deviceList]="deviceList"></sb-dashboard-cards>
    <h2 class="text-muted">My data streams</h2>
    <sb-card *ngIf="data.length > 0">
        <div class="card-body">
            <div class="row">
                <div class="card-body col-md-6" *ngFor="let dataset of data">
                    <sb-charts-area [payload]="dataset" color="blue" [displayLabelX]="false"></sb-charts-area>
                </div>
            </div>
        </div>
    </sb-card>
    <h2 class="text-muted">Subscribed data streams</h2>
    <sb-card *ngIf="subStreamData.length > 0">
        <div class="card-body">
            <div class="row">
                <div class="card-body col-md-6" *ngFor="let subStream of subStreamData">
                    <sb-charts-area [payload]="subStream" [color]="color" [displayLabelX]="false"></sb-charts-area>
                </div>
            </div>
        </div>
    </sb-card>
</sb-layout-dashboard>